<nav class="navbar navbar-inverse">
<!-- 在 bootstrap 中，导航条称为 navbar ; navbar-inverse表示反白，也就是底色黑色 -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
		<!-- 点击三明治按钮的时候，需要显示我们原来的导航。button 元素中，我们有一个 attribute ，data-target="#navbar-menu" -->
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">C</a>
	</div>
	<div id="navbar-menu" class="collapse navbar-collapse">
	<!-- .navbar-collapse，它是说在视口的宽度小于 768px 的时候，将导航变成垂直方向 -->
		<ul class="nav navbar-nav">
		<!--  .nav 说明这是一组导航，.navbar-nav 说明是用于 navbar 中的导航 -->
			<li>
				<a routerLink="/home">主页
				</a>
			</li>
			<li><a routerLink="/category">博客列表</a></li>
			<li><a routerLink="/tag">标签列表</a></li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>